# Data analysis: 1 
**Dataset:** sample weather data.

In [1]:
import pandas as pd

In [3]:
weather = pd.read_csv("weather_data.csv")

In [4]:
# get the type of the data
type(weather)

pandas.core.frame.DataFrame

In [7]:
# see the data type of a column
type(weather['temp'])

pandas.core.series.Series

we can each column is Series where whole table is DataFrame in pandas.

In [8]:
# see the data
weather

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

In [10]:
# convert the dataframe into a dictionary 
weather_dict = weather.to_dict()
weather_dict

{'day': {0: 'Monday',
  1: 'Tuesday',
  2: 'Wednesday',
  3: 'Thursday',
  4: 'Friday',
  5: 'Saturday',
  6: 'Sunday'},
 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24},
 'condition': {0: 'Sunny',
  1: 'Rain',
  2: 'Rain',
  3: 'Cloudy',
  4: 'Sunny',
  5: 'Sunny',
  6: 'Sunny'}}

In [11]:
# convet a pandas series to list
temp_list = weather['temp'].to_list()
temp_list

[12, 14, 15, 14, 21, 22, 24]

In [12]:
# average temperature
weather['temp'].mean()

17.428571428571427

In [14]:
# max temperature
weather[weather['temp']==weather['temp'].max()]

      day  temp condition
6  Sunday    24     Sunny

In [16]:
# Get data in columns
weather['temp']
weather.temp

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

In [20]:
# Get data in rows
weather[weather.day == "Sunday"]

      day  temp condition
6  Sunday    24     Sunny

In [22]:
# You can apply column aperation on 
monday = weather[weather.day == "Monday"]
monday.condition

0    Sunny
Name: condition, dtype: object

In [25]:
# convert the temperature into Fahrenheit
weather['temp_in_F'] = weather.temp.apply(lambda c: 9*c/5+32)

In [26]:
weather

         day  temp condition  temp_in_F
0     Monday    12     Sunny       53.6
1    Tuesday    14      Rain       57.2
2  Wednesday    15      Rain       59.0
3   Thursday    14    Cloudy       57.2
4     Friday    21     Sunny       69.8
5   Saturday    22     Sunny       71.6
6     Sunday    24     Sunny       75.2

## Create a DataFrame

In [27]:
data_dict = {'students': ['Raj', 'Pushpa'],
             'age': [23,30]
            }

In [29]:
data = pd.DataFrame(data_dict)
data

  students  age
0      Raj   23
1   Pushpa   30

In [ ]:
# save the dataframe to csv
data.to_csv('new_data.csv')

# Data analysis: 2 
**Dataset:** 2018 Central Park Squirrel Census.

In [30]:
data = pd.read_csv("2018_Central_Park_Squirrel_Census_-_Squirrel_Data.csv")

## Task 1
create new csv file that contains squirrel count for grey, black, cinnamen colors.

In [31]:
data

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.957044,40.794851,37E-PM-1006-03,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,True,me,POINT (-73.9570437717691 40.794850940803904)
2,-73.976831,40.766718,2E-AM-1010-03,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581)
3,-73.975725,40.769703,5D-PM-1018-05,05D,PM,10182018,5,Juvenile,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755)
4,-73.959313,40.797533,39B-AM-1018-01,39B,AM,10182018,1,NaN,NaN,NaN,...,True,False,False,False,False,False,False,False,NaN,POINT (-73.9593126695714 40.797533370163)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3018,-73.963943,40.790868,30B-AM-1007-04,30B,AM,10072018,4,Adult,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9639431360458 40.7908677445466)
3019,-73.970402,40.782560,19A-PM-1013-05,19A,PM,10132018,5,Adult,Gray,White,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9704015859639 40.7825600069973)
3020,-73.966587,40.783678,22D-PM-1012-07,22D,PM,10122018,7,Adult,Gray,"Black, Cinnamon, White",...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9665871993517 40.7836775064883)
3021,-73.963994,40.789915,29B-PM-1010-02,29B,PM,10102018,2,NaN,Gray,"Cinnamon, White",...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9639941227864 40.7899152327912)
3022,-73.975479,40.769640,5E-PM-1012-01,05E,PM,10122018,1,Adult,Cinnamon,"Gray, White",...,False,False,False,False,False,True,False,False,NaN,POINT (-73.9754794191553 40.7696404489025)

In [53]:
colors = ['Gray', 'Black', 'Cinnamon']
sq_dict = dict()
for c in colors:
    sq_dict[c] = len(data[data['Primary Fur Color'] == c]['Primary Fur Color'])

In [54]:
sq_dict

{'Gray': 2473, 'Black': 103, 'Cinnamon': 392}

In [ ]:
sq_dict.to_csv('data.csv')